.section {

background-color: beige;
font-family: 'EB Garamond', serif;
display: flex;
flex-direction: column;
padding-bottom: 2rem;


}

.titleSection {

display: flex;
width: 100%;    
align-items: center;
justify-content: center;
padding: 1rem;
color: #174605ce;

}

.sectionCard {

display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;


}