.section {
  background-color: beige;
  background:linear-gradient(rgba(247, 230, 206, 0.535), rgba(255, 252, 202, 0.467)), url("https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
    no-repeat;
  background-size: cover; 
  background-position: center;
  font-family: "EB Garamond", serif;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;

}

.filtroNome {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  padding: 4rem 10rem;
}

.filtroNome input {
 
  font-family: "EB Garamond", serif;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  border: 0.08rem solid #6b8e23; 
}

.cardFiltro {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

 
}

.filterButton {

display: flex;
flex-wrap: wrap;
flex-direction: row;  
align-items: center;
justify-content: center;
gap: 1rem;
} 

.button {
  background-color: #6b8e23; /* Verde Musgo */
  color: #fff; /* Texto branco */
  padding: 0.6rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
 
}

.button:hover {
  background-color: #556b2f; /* Verde Musgo mais escuro ao passar o mouse */
}

.buttonClear {
  background-color: #ed4e26; /* Verde Musgo */
  color: #fff; /* Texto branco */
  padding: 0.6rem 4rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 2.6rem;
}

.buttonClear:hover {
  background-color: #f26a0fc5; /* Verde Musgo mais escuro ao passar o mouse */
}

.filtro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 1rem;
  gap: 1rem;
  color: #174605ce;
  font-weight: 600;
  font-size: 1.3rem;
}

.filtro select {
  padding: 0.4rem 10rem;
  font-family: "EB Garamond", serif;
  padding-left: 0.4rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #174605ce;
  border: 0.08rem solid #6b8e23; 
}

.titleSection {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;

  color: #174605ce;
}

.sectionCard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.informe {
}

@media screen and (min-width: 768px) {
  .homeText {
    grid-template-columns: repeat(3, 1fr);
  }
}