.home {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("https://upload.wikimedia.org/wikipedia/commons/0/02/Brazilian_Fruits.jpg")
      no-repeat;
  background-size: cover; /* ou 'contain', dependendo da preferência */
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.home h2 {
  color: #ffff;
  font-size: 3rem;
  font-weight: 500;
  font-family: 'EB Garamond', serif;
  margin: 1rem 5rem;
}

.home h3 {
  color: #ffff;
  font-size: 1.5rem;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  margin: 1rem 25rem 2rem 5rem;
}
